.header{
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
}

.navbar{
    position: fixed;
    background-color: blue;
    width: 150px;
    padding-right=100px}
