.header{
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 19%;
}

.navbar{
    font-style: normal;
    font-size: 20px;
    padding-top: 10px;
    position: fixed;
    background-color: lightgray;
    width: 150px;
    padding-right: 100px;
    font-family: arial;
    padding-left: 200px;
    padding-top: 40px;
    margin-top: -200px;
    margin-left: -200px;
    height: 100%;
    border-right: 10px ridge rgb(255, 252, 252, 0.4);
}

.content{
    margin-left: 19%;
    padding: 0 10%;
    text-align: center;
}

.logo{
    max-width: 200px;
    max-height: 200px;
}

.link{
    text-align: center;
    font-family: arial;
    font-size: 20px;
}

.link:hover {
    opacity: 0.7;
}

.icon{
    background-color:black;
}
.paragraph{
    text-align: start;
    font-family: arial;
    font-size: 20px;
}

.caption1{
    text-align: start;
    font-family: arial;
    font-size: 24px;
    color:rgb(41, 40, 40);
}

.fa {
    padding: 5px;
    font-size: 30px;
    border-radius: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-envelope{
    background: #cc2323;
    color: rgb(0, 0, 0);  
}